<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app">
	<v-app>
		<v-content>
			<v-container>
				<v-layout>
					<div class="containerdav">
						<div class="carta">
							<v-text-field

									label="Nombre Nodo"
									v-model="nodo.nombre"
							></v-text-field>
							<v-btn
									id="cantidad"
							>
								Ingresar Nodo
							</v-btn>
							<v-data-table
								:headers="headers"
								:items="nodos"
								class="elevation-1"
								hide-actions
								item-key="index"
						>
							<template
									slot="items"
									slot-scope="props"
							>
								<td class="text-xs-left">{{ props.item.label }}</td>
								<td class="text-xs-left">
									<v-icon
										@click="borraritem(props.item)"
									>
										delete
									</v-icon>
								</td>
							</template>
						</v-data-table>

						</div>
						<div>
							<v-select
									:items="nodosgraph"
									v-model="selectnodo"
									Label="Nodo Origen"
									item-text="label"
									return-object
							>
							</v-select>
							<v-select
									v-model="selectnodo.hijo"
									:items="nodosgraph"
									attach
									chips
									label="Nodos Destinos"
									item-text="label"
									return-object
									multiple
							></v-select>
							<v-btn
								@click="ingresarhijo()"
							>
								Ingresar Camino
							</v-btn>
							<v-data-table
									:headers="headershijos"
									:items="hijosnodos"
									class="elevation-1"
									hide-actions
									item-key="index"
							>
								<template
										slot="items"
										slot-scope="props"
								>
									<td class="text-xs-left">{{ props.item.label }}</td>
									<td class="text-xs-left">
										<v-chip v-for="(items,index) in props.item.hijo" :key="index">
												{{ items.label }}
										</v-chip>
									</td>
									<td class="text-xs-left">
										<v-icon
												@click="borraritemhijos(props.item)"
										>
											delete
										</v-icon>
									</td>
								</template>
							</v-data-table>
							<v-btn id="ingresar">Crear Grafos</v-btn>
						</div>
						<div class="canvascart">
							<v-card >
								<v-card-title primary-title>
									<div>
										<h3 class="headline mb-0"> Identificacion del Grafo dependiendo su matriz</h3>
										<div> GRAFO REFLEXIVO: Todos los valores de la diagonal principal son = 1 . <br>

											GRAFO IRREFLEXIVO: Todos los valores d ela diagonal principal son =0; es decir, ningun nodo se relacionado con si mismo. <br>

											GRAFO SIMETRICO: Su traspuesta es igual asi mismo, es decir, (x,y) = (y,x). <br>

											GRAFO ASIMETRICO: Contratio a la simetrica, es decir, la diagonal principal contiene mayor cantidad de 0 (ceros) que 1(unos). <br>

											GRAFO ANTISIMETRICO: la diagonal principal contiene al menos un 1(uno). <br>

											GRAFO TRANSITIVO: Si al multiplicar la matriz booleana (Mr) por si misma,decir, Mr x Mr =Mr^2 ; y se suma Mr+Mr^2  y su resultado e sigual a Mr principal se define como transitiva . </div>
									</div>
								</v-card-title>
							</v-card>
							<div id="canvas"></div>
						</div>

					</div>
				</v-layout>
			</v-container>
		</v-content>
	</v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="libraries/p5.js"></script>
<script src="libraries/p5.dom.js"></script>
<script src="libraries/p5.sound.js"></script>
<script src="graph.js"></script>
<script src="node.js"></script>
<script src="sketch.js"></script>


</body>
<style>
	.canvascart {
		display: flex;
		justify-content: space-around;
	}
	.containerdav {
		display: flex;
		flex-wrap: wrap;
	}
	.carta {
		margin: 20px;
	}
</style>
</html>
